.controller__panel__options-player__color-container {
  flex: 5 5 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controller__panel__options-player__color-label {
  flex: 5 5 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.controller__panel__options-player__color-item {
  flex: 5 5 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.controller__panel__options-player__color {
  width: 50px;
}

.controller__panel__options-player__color--undefined {
  color: #f00;
}