.controller__panel__options-player__shape-container {

}

.controller__panel__options-player__shape-label {

}

.controller__panel__options-player__shape-items {

}

.controller__panel__options-player__shape {

}

.controller__panel__options-player__shape--square {
  
}

.controller__panel__options-player__shape--circle {
  border-radius: 100%;
}

.controller__panel__options-player__shape--rhombus {
  transform: rotate(45deg);
}

.controller__panel__options-player__shape--ellipse {
  border-radius: 100%;
  transform: rotateX(45deg);
}

.controller__panel__options-player__shape--selected {
  
}

.controller__panel__options-player__shape--disabled {
  opacity: 0.2;
}

.controller__panel__options-player__shape--undefined {
  color: #f00;
}